.hero-section {
    background-color: #e9f6fd;
}

.features-section {
    background-color: #daf0fc;
}

.feature {
    border: none;
}

.feature:first-of-type {
    border-bottom: 1px solid #d9d9d9;
}

.about-section {
    background-color: #c9ebfd;
}

.cta-section {
    background-color: #b6e5ff;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.top-0 {
    top: 0;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-white {
    color: #fff;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 600px;
    row-gap: 10px;
    column-gap: 10px;
}

.flex {
    display: flex;
}

.flex-1 {
    flex-grow: 1;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.w-75 {
    width: 75%;
}

.h-75 {
    height: 75%;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0
}

.accent-button {
    background-color: #FF6F61;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #FF6F61;
    color: #fff;
}

.accent-button:hover {
    color: #000;
    background-color: #fff;
    transition: 400ms;
}

.custom-bg {
    background-image: url('images/background-extra-large.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel {
    width: 600px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}
  
.carousel-track {
    display: inline-block;
    white-space: nowrap;
    will-change: transform;
    animation: scroll linear infinite;
}

.card {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    font-size: 24px;
    width: 250px;
    border-radius: 5px;
    backdrop-filter: blur(14px); 
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center; 
}

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
}

@media (max-width: 2560px) {
    .custom-bg {
        background-image: url('images/background-extra-large.jpg');
        width: 1000px;
        height: 280px;
    }
}

@media (max-width: 1920px) {
    .custom-bg {
        background-image: url('images/background-large.jpg');
        width: 800px;
        height: 220px;
    }
}

@media (max-width: 1024px) {
    .custom-bg {
        background-image: url('images/background-medium.jpg');
        width: 600px;
        height: 170px;
    }

    .md\:text-md {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

@media (max-width: 768px) {
    .custom-bg {
        background-image: url('images/background-small.jpg');
        width: 400px;
        height: 110px;
    }

    .carousel {
        width: 100%;
    }

    .grid {
        grid-template-columns: 1fr;
        width: 270px;
    }
}

@media (max-width: 640px) {
    .custom-bg {
        background-image: url('images/background-extra-small.jpg');
        width: 300px;
        height: 90px;
    }

    .sm\:text-sm {
        font-size: 0.75rem;
        line-height: 1rem;
    }
}